<h2>Making change happen – assessing your change readiness</h2>

<p>
  The implementation of change in organizations is ultimately always about changing behavior. Only this leads to measurable results. Most change projects fail because there’s a lack of communication between employees and leaders. Usually, it’s not the wrong measures or too limited resources that affect implementation. It’s about not taking into account our inner convictions when it comes to change. We all have inner resistance to change. Often it is the fear and worry that cannot be rationally removed. Deeper-seated "drivers" of behavior, such as feelings, priorities, beliefs, and values, must be understood and addressed. Otherwise change initiatives usually do not succeed.
</p>

<div class="action actionRight">
  <button mat-raised-button color="primary" routerLink="/choose">Continue</button>
</div>


