<h2>Please click on the dimension you want to start the assesement</h2>


<div class="dimensions">
  <div routerLink="/question/1">
    Insight & Motivation
  </div>

  <div routerLink="/question/5">
    Skills & Talent
  </div>

  <div routerLink="/question/9">
    Culture
  </div>

  <div routerLink="/question/13">
    System Processes & Structure
  </div>

</div>

<div style="clear:both"></div>

<br/>
<br/>
<br/>





<div class="action">
  <button mat-raised-button color="primary" routerLink="/">Go back</button>
</div>


